# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.smc'
'name': 'SM Cheat Sheet Highlighter'
'fileTypes': [
  'txt'
]
'patterns': [
  # {
  #   'match': '^\\s*@@.*$'
  #   'name': 'comment'
  # }
  # {
  #   'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
  #   'name': 'constant.numeric'
  # }

  ## A Few Pieces of Markdown
  { # Keyboard Shortcuts
    'begin': '\\`'
    'end': '\\`'
    'name': 'md-code'
  }
  { # Bold
    'begin': '\\*\\*'
    'end': '\\*\\*'
    'name': 'md-bold'
  }
  { # Italic (new)
    'begin': '\\*'
    'end': '\\*'
    'name': 'md-italic'
  }
  { # Italic (old)
    'begin': '\\_'
    'end': '\\_'
    'name': 'md-italic'
  }

  ## Cheat Sheet Markdown Additions
  { # Graphics
    'begin': '@@'
    'end': '\\ '
    'name': 'cs-graphic'
  }
  { # Keyboard Shortcuts
    'begin': '\\|'
    'end': '\\|\\ '
    'name': 'cs-shortcut'
  }

  ## Sketch Master Terminology & Writing Style
  {
    'match': '(a|A)+rtboard'
    'name': 'capitalize.smc'
  }
  {
    'match': '(b|B)+ack+\\ +(l|L)ink'
    'name': 'capitalize.smc'
  }
  {
    'match': '(b|B)ack(l|L)ink'
    'name': 'spacing.smc'
  }
  # Bézier
  {
    'match': 'Bézier((\ )curve)?((\ )handle)?'
    'name': 'correct.smc'
  }
  {
    'match': '(b|B)+(é|e)zier(((c|C)urve)|((h|H)andle))'
    'name': 'spacing.smc'
  }
  {
    'match': '((b|B)+(é|e)zier)((\ |)(c|C)urve)?((\ |)(h|H)andle)?'
    'captures':
        '1':
            'name': 'capitalize.typo.smc'
     'name': 'lowercase.typo.smc'
  }
  {
    'match': '(b|B)+lend+\\ +(m|M)ode'
    'name': 'lowercase.smc'
  }
  {
    'match': '(b|B)+lend+(m|M)ode'
    'name': 'spacing.smc'
  }
  {
    'match': '(b|B)+lending'
    'name': 'exception.smc'
  }
  {
    'match': '(n|N)ormal'
    'name': 'capitalize.smc'
  }
  {
    'match': '(m|M)ultiply'
    'name': 'capitalize.smc'
  }
  {
    'match': '(o|O)verlay'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)oft+\\ +(l|L)ight'
    'name': 'capitalize.smc'
  }
  {
    'match': '(s|S)oft(l|L)ight'
    'name': 'spacing.smc'
  }
  {
    'match': '((b|B)oolean)+\\ +(o|O)peration'
    'captures':
        '1':
            'name': 'capitalize.smc'
    'name': 'lowercase.smc'
  }
  {
    'match': '((b|B)oolean)+(o|O)peration'
    'name': 'spacing.smc'
  }
  {
    'match': '(u|U)nion'
    'name': 'capitalize.smc'
  }
  {
    'match': '(s|S)ubtract'
    'name': 'capitalize.smc'
  }
  {
    'match': '(i|I)ntersect'
    'name': 'capitalize.smc'
  }
  {
    'match': '(d|D)ifference'
    'name': 'capitalize.smc'
  }
  {
    'match': '(b|B)order'
    'name': 'lowercase.smc'
  }
  {
    'match': '(c|C)anvas'
    'name': 'capitalize.smc'
  }
  {
    'match': '(c|C)ode+(\\ |)+(p|P)en'
    'name': 'exception.smc'
  }
  {
    'match': '(c|C)olor+\\ +(p|P)icker'
    'name': 'lowercase.smc'
  }
  {
    'match': '(c|C)olor+(p|P)icker'
    'name': 'spacing.smc'
  }
  {
    'match': '((e|E)dit)+\\ +(m|M)ode'
    'captures':
        '1':
            'name': 'capitalize.smc'
    'name': 'lowercase.smc'
  }
  {
    'match': '((e|E)dit)+\\ +(t|T)ool'
    'captures':
        '1':
            'name': 'capitalize.smc'
    'name': 'lowercase.smc'
  }
  {
    'match': '(e|E)xport\\ (s|S)etting'
    'name': 'lowercase.smc'
  }
  {
    'match': '(e|E)xport'
    'name': 'exception.smc'
  }
  {
    'match': '(e|E)yedropper'
    'name': 'capitalize.smc'
  }
  {
    'match': '(f|F)ilename'
    'name': 'lowercase.smc'
  }
  {
    'match': '(f|F)ile\\ name'
    'name': 'exception.smc'
  }
  {
    'match': '(f|F)ill'
    'name': 'exception.smc'
  }
  {
    'match': '(f|F)ill\\ rule'
    'name': 'exception.smc'
  }
  {
    'match': '(f|F)ill-rule'
    'name': 'exception.smc'
  }
  {
    'match': '(f|F)illrule'
    'name': 'exception.smc'
  }
  {
    'match': '(g|G)esture'
    'name': 'lowercase.smc'
  }
  {
    'match': '(g|G)roup'
    'name': 'lowercase.smc'
  }
  {
    'match': '(g|G)uide'
    'name': 'exception.smc'
  }
  {
    'match': '(h|H)otspot'
    'name': 'exception.smc'
  }
  {
    'match': '(i|I)nner\\ (s|S)hadow'
    'name': 'exception.smc'
  }
  {
    'match': '(i|I)nspector'
    'name': 'capitalize.smc'
  }
  {
    'match': '(i|I)nstance'
    'name': 'lowercase.smc'
  }
  {
    'match': '(l|L)ayer\\ (l|L)ist'
    'name': 'capitalize.smc'
  }
  {
    'match': '(l|L)ayer'
    'name': 'lowercase.smc'
  }
  {
    'match': '(l|L)ock'
    'name': 'lowercase.smc'
  }
  {
    'match': '((m|M)aster)+\\ +(a|A)rtboard'
    'captures':
        '1':
            'name': 'lowercase.smc'
    'name': 'capitalize.smc'
  }
  {
    'match': '(o|O)verride(s|\\ )'
    'name': 'lowercase.smc'
  }
  {
    'match': '(p|P)age'
    'name': 'capitalize.smc'
  }
  {
    'match': '(p|P)en\\ '
    'name': 'exception.smc'
  }
  {
    'match': '(r|R)ectangle'
    'name': 'exception.smc'
  }
  {
    'match': '(r|R)adius'
    'name': 'exception.smc'
  }
  {
    'match': '(r|R)ight-click'
    'name': 'lowercase.smc'
  }
  {
    'match': '(r|R)ight\\ click'
    'name': 'exception.smc'
  }
  {
    'match': '(r|R)uler'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)creen'
    'name': 'exception.smc'
  }
  {
    'match': '((s|S)croll)+\\ +(g|G)roup'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)croll(g|G)roup'
    'name': 'spacing.smc'
  }
  {
    'match': '(s|S)hadow'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)hared\\ (s|S)tyle'
    'name': 'capitalize.smc'
  }

  {
    'match': '((s|S)lice)+\\ +(t|T)ool'
    'captures':
        '1':
            'name': 'capitalize.smc'
    'name': 'lowercase.smc'
  }
  {
    'match': '(s|S)lice'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)tart+.+(e|E)nd+\\ +(s|S)+creen'
    'name': 'capitalize.smc'
  }
  {
    'match': '((s|S)tart+.+(e|E)nd)+\\ +(s|S)+tate(s|\\ )'
    'captures':
        '1':
            'name': 'capitalize.smc'
    'name': 'lowercase.smc'
  }
  {
    'match': '(s|S)tart+\\ +(p|P)oint'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)ub-shape'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)ub-path'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)ub+\\ +(s|S)hape'
    'name': 'exception.smc'
  }
  {
    'match': '(s|S)ymbol'
    'name': 'capitalize.smc'
  }
  {
    'match': '(t|T)ext+\\ +layer'
    'name': 'exception.smc'
  }
  {
    'match': '(t|T)ext+\\ +(s|S)tyle'
    'name': 'capitalize.smc'
  }
  {
    'match': '((t|T)ext)+\\ +(t|T)ool'
    'captures':
        '1':
            'name': 'capitalize.smc'
    'name': 'lowercase.smc'
  }
  {
    'match': '(t|T)ransition+\\ +(d|D)esigner'
    'name': 'capitalize.smc'
  }
  {
    'match': '(t|T)ransition+\\ +(l|L)ist'
    'name': 'lowercase.smc'
  }
  {
    'match': '(u|U)nplug'
    'name': 'exception.smc'
  }
  {
    'match': '(u|U)n-plug'
    'name': 'exception.smc'
  }
  {
    'match': '(v|V)iew(b|B)ox'
    'name': 'exception.smc'
  }
  {
    'match': '(c|C)op(y|ying|ied)\\ &\\ (p|P)ast(e|ing|ed)'
    'name': 'lowercase.smc'
  }
  {
    'match': '(c|C)op(y|ying|ied)\\ and\\ (p|P)ast(e|ing|ed)'
    'name': 'exception.smc'
  }
  {
    'match': '(d|D)ra(g|gging|gged)\\ &\\ (d|D)ro(p|pping|pped)'
    'name': 'lowercase.smc'
  }
  {
    'match': '(d|D)ra(g|gging|gged)\\ and\\ (d|D)ro(p|pping|pped)'
    'name': 'exception.smc'
  }
  {
    'match': '(c|C)lick(ing|ed|)\\ &\\ (d|D)ra(g|gging|gged)'
    'name': 'lowercase.smc'
  }
  {
    'match': '(c|C)lick(ing|ed|)\\ and\\ (d|D)ra(g|gging|gged)'
    'name': 'exception.smc'
  }
]
