@import "ui-variables";

atom-text-editor.editor[data-grammar*="smc"] {
  // —————————————————————————————————————————————————

  @comment-gray: #5D687D;

  // Atom Editor
  .lines { // Center the lines in the editor window
    padding-left: ~"calc(48vw - 40ch)";
    // Explanation:
    //  - move over 50% of the viewport width
    //  - move back by 40 characters (assumes 80 char soft wrap)
  }
  .wrap-guide {
    opacity: 0;
  }

  // Basic Markdown Syntax
  .syntax--md-code {
    color: @comment-gray;
  }
  .syntax--md-bold {
    font-weight: 600;
  }
  .syntax--md-italic {
    font-style: italic;
  }
  .syntax--md-heading {
    font-size: 1.15em;
    font-weight: 600;
    line-height: 0;
  }
  .syntax--marker {
    &.syntax--md-heading-1 {
      margin-left: -2ch;
    }
    &.syntax--md-heading-2 {
      margin-left: -3ch;
    }
    &.syntax--md-heading-3 {
      margin-left: -4ch;
    }
  }

  // Cheat Sheet Syntax
  .syntax--cs-graphic {
    position: relative;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);

    &:after {
      content: "";
      position: absolute;
      top: -1px;
      bottom: -3px;
      left: -4px;
      right: 4px;
      border-radius: 4px;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
      pointer-events: none;
    }
  }
  .syntax--cs-shortcut {
    color: @comment-gray;
  }

  // Grammatical Groups / Qualities
  .syntax--capitalize {
    // currently defaults to keyword class
    color: @text-color-success;
    &:after { content: "Typically capitalized"; }
  }
  .syntax--lowercase {
    color: @text-color-info;
    &:after { content: "Typically lowercase"; }
  }
  .syntax--spacing {
    color: @text-color-warning;
    &:after { content: "Spaced correctly?"; }
  }
  .syntax--exception {
    color: @text-color-error;
    &:after { content: "Complicated term"; }
  }
  .syntax--hyphenated {
    color: cornflowerblue;
  }
  

  // Correct Status
  @typo-dot-size: .28em;
  @uncertain-wave-size: .4em;
  .syntax--typo {
    padding-bottom: 3px;
  	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='red' d='M1 0 3 0 4 2 3 4 1 4 0 2z'/%3E%3C/svg%3E");
  	background-size: @typo-dot-size; // size of the dots
  	background-repeat: repeat-x;
  	background-position: 0 100%;
  	animation: moveTypoUnderline .8s infinite linear;
  }
  .syntax--correct {
    padding-bottom: 1px;
  	border-bottom: 1px #6ABD29 solid;
  }
  .syntax--uncertain {
    padding-bottom: 3px;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='none' stroke='#ab35ff' d='M-.1 1.5H0l3 2h1l3-2h1' /%3E%3C/svg%3E");
  	background-size: .6em; // size of the dots
  	background-repeat: repeat-x;
  	background-position: 0 100%;
  }
  // Animation Keyframes
  @keyframes moveTypoUnderline {
  	0% { background-position: 0 100%; }
  	100% { background-position: @typo-dot-size 100%; }
  }


  // Tooltips explaining the grammar / category of the term
  .syntax--keyword,
  .syntax--capitalize,
  .syntax--lowercase,
  .syntax--spacing,
  .syntax--exception {
    position: relative;

    &:after {
      position: absolute;
      bottom: 1.4em;
      left: 0%;
      // transform: translate(-50%);
      padding: .3em 10px .1em;
      background: #424a56;
      border-radius: 1em;
      border-bottom-left-radius: 0;
      box-shadow: 0 1px 4px 1px #20262d;
      font-size: .8em;
      color: white;
      opacity: 0;
      transition: .3s;
      pointer-events: none;
      z-index: 1;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  .syntax--keyword > .syntax--keyword:after { // keyword within a keyword
    // bottom: 3.4em;
    z-index: 2; // cover up the parent keyword
  }

  // —————————————————————————————————————————————————
} // END: atom-text-editor.editor[data-grammar*="smc"]
