@import "ui-variables";


// Custom Colors (The SMC Theme)
@smc-color__light-gray: #5D687D;
@smc-color__faint-gray: fade(#A4A5AB, 50%);

// Color Assignments
  // Markdown
  @smc-color__code: @smc-color__light-gray;
  // Cheat Sheet
  @smc-color__cs-graphic: @smc-color__faint-gray;
  @smc-color__key-shortcut: @smc-color__light-gray;
  // Grammar
  @smc-color__capitalize: @text-color-success;
  @smc-color__lowercase: @text-color-info;
  @smc-color__spacing: @text-color-warning;
  @smc-color__exception: @text-color-error;
  // Status
  @smc-color__typo-dots: red;
  @smc-color__uncertain-wave: #ab35ff;
  @smc-color__correct-underline: #6ABD29;
  // UI
  @smc-color__tooltip-bg: mix( @syntax-background-color, #9BAFCC, 75% );
  @smc-color__tooltip-text-color: contrast( @smc-color__tooltip-bg );
  @smc-color__tooltip-shadow-color: fade( darken(@syntax-background-color, 45%) , 6%);



atom-text-editor.editor[data-grammar*="smc"] {
  // —————————————————————————————————————————————————

  // Atom Editor
  .lines { // Center the lines in the editor window
    padding-left: ~"calc(48vw - 40ch)";
    // Explanation:
    //  - move over 50% of the viewport width
    //  - move back by 40 characters (assumes 80 char soft wrap)
  }
  .wrap-guide {
    opacity: 0;
  }

  // Basic Markdown Syntax
  .syntax--md-code {
    color: @smc-color__code;
  }
  .syntax--md-bold {
    font-weight: 600;
  }
  .syntax--md-italic {
    font-style: italic;
  }
  .syntax--md-heading {
    font-size: 1.15em;
    font-weight: 600;
    line-height: 0;
  }
  .syntax--marker {
    &.syntax--md-heading-1 {
      margin-left: -2ch;
    }
    &.syntax--md-heading-2 {
      margin-left: -3ch;
    }
    &.syntax--md-heading-3 {
      margin-left: -4ch;
    }
  }

  // Cheat Sheet Syntax
  .syntax--cs-graphic {
    position: relative;
    font-style: italic;
    color: @smc-color__cs-graphic;

    &:after {
      content: "";
      position: absolute;
      top: -1px;
      bottom: -3px;
      left: -4px;
      right: 4px;
      border-radius: 4px;
      box-shadow: inset 0 0 0 1px @smc-color__cs-graphic;
      pointer-events: none;
    }
  }
  .syntax--cs-shortcut {
    color: @smc-color__key-shortcut;
  }

  // Grammatical Groups / Qualities
  .syntax--capitalize {
    // currently defaults to keyword class
    color: @smc-color__capitalize;
    &:after { content: "Typically capitalized"; }
  }
  .syntax--lowercase {
    color: @smc-color__lowercase;
    &:after { content: "Typically lowercase"; }
  }
  .syntax--spacing {
    color: @smc-color__spacing;
    &:after { content: "Spaced correctly?"; }
  }
  .syntax--exception {
    color: @smc-color__exception;
    &:after { content: "Complicated term"; }
  }
  .syntax--hyphenated {
    color: cornflowerblue;
  }


  // Correct Status
  @typo-dot-size: .28em;
  @uncertain-wave-size: .4em;
  .syntax--typo {
    padding-bottom: 3px;
  	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='@{smc-color__typo-dots}' d='M1 0 3 0 4 2 3 4 1 4 0 2z'/%3E%3C/svg%3E");
  	background-size: @typo-dot-size; // size of the dots
  	background-repeat: repeat-x;
  	background-position: 0 100%;
  	animation: moveTypoUnderline .8s infinite linear;
  }
  .syntax--correct {
    padding-bottom: 1px;
  	border-bottom: 1px solid @smc-color__correct-underline;
  }
  .syntax--uncertain {
    padding-bottom: 3px;
  	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='none' stroke='@{smc-color__uncertain-wave}' d='M-.1 1.5H0l3 2h1l3-2h1' /%3E%3C/svg%3E");
  	background-size: 8px; // size of the waves
  	background-repeat: repeat-x;
  	background-position: 0 100%;
  }
  // Animation Keyframes
  @keyframes moveTypoUnderline {
  	0% { background-position: 0 100%; }
  	100% { background-position: @typo-dot-size 100%; }
  }


  // Tooltips explaining the grammar / category of the term
  .syntax--keyword,
  .syntax--capitalize,
  .syntax--lowercase,
  .syntax--spacing,
  .syntax--exception {
    position: relative;

    &:after {
      position: absolute;
      bottom: 1.4em;
      left: 0%;
      // transform: translate(-50%);
      padding: .3em 10px .1em;
      background: @smc-color__tooltip-bg;
      border-radius: 1em;
      border-bottom-left-radius: 0;
      box-shadow: 0 1px 2px 1px @smc-color__tooltip-shadow-color;
      font-size: .8em;
      color: @smc-color__tooltip-text-color;
      opacity: 0;
      transition: .3s;
      pointer-events: none;
      z-index: 1;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  .syntax--keyword > .syntax--keyword:after { // keyword within a keyword
    // bottom: 3.4em;
    z-index: 2; // cover up the parent keyword
  }

  // —————————————————————————————————————————————————
} // END: atom-text-editor.editor[data-grammar*="smc"]
